@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Автосалон "Корыто"</h1>
    <p>Добро пожаловать! Программа Автоцент «Корыто» предназначена для ведения расчетов по имеющимся автомобилям. Клиенты могут выбирать автомобили.</p>
    <img src="~/Images/background.jpg" width="1000" height="500" />
</div>